#aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "Julius";
    font-weight: lighter;
    font-size: clamp(4rem, 7vw, 8rem);
    z-index: 1;
    color: var(--primary);
    transform: translate(9%, 130%);

    b {
      font-family: "Julius";
      font-weight: lighter;
      color: var(--off-white);
    }
  }

  .upper {
    display: flex;
    align-items: center;
    width: 100%;

    .texts {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
      padding: clamp(1rem, 2vw, 2rem);
      p {
        font-size: clamp(1rem, 1.5vw, 2rem);
        color: var(--secondary);
        width: 70%;
        text-align: end;
      }
    }

    .museu {
      position: relative;
      background-image: url("/assets/images/about/1.png");
      background-size: cover;
      aspect-ratio: 5/4;
      width: 50%;

      &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: var(--secondary-30);
        inset: 0;
        width: 100%;
      }
    }
  }

  .lower {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;

    .texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      padding: clamp(2rem, 4vw, 4rem);
      h2 {
        font-size: clamp(1.5rem, 2.5vw, 3rem);
        margin-bottom: 1.5rem;
      }
      p {
        font-size: clamp(1rem, 1.5vw, 2rem);
        color: var(--secondary);
        width: 70%;
        text-align: start;
      }
    }

    .biblioteca {
      position: relative;
      background-image: url("/assets/images/about/2.png");
      background-size: cover;
      background-position: 0;
      aspect-ratio: 3/2;
      width: 50%;

      &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: var(--secondary-30);
        inset: 0;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  #aboutSection {
    margin: 4rem 0 0;

    h1 {
      position: relative;
      transform: translate(-70%, 5%);
      font-size: clamp(2.5rem, 12vw, 6rem);

      b {
        position: absolute;
        width: fit-content;
        white-space: nowrap;
        transform: translateY(100%);
      }
    }
    .upper {
      position: relative;
      width: 100%;
      display: block;

      .museu {
        width: 100%;
        aspect-ratio: 1;
        background-position: center;
      }

      .texts {
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: center;
        z-index: 1;
        bottom: 5vw;
        left: 0;

        p {
          width: 90%;
          text-align: start;
          color: var(--off-white);
          font-size: clamp(0.8rem, 4vw, 2.7rem);
        }
      }
    }

    .lower {
      flex-direction: column;
      .biblioteca {
        width: 90%;
      }

      .texts {
        width: 90%;
        padding: 2rem 0;

        h2 {
          font-size: clamp(1.5rem, 7vw, 2.7rem);
        }

        p {
          width: 100%;
          color: var(--primary);
          font-size: clamp(0.8rem, 4vw, 1.7rem);
        }
      }
    }

  }
}
