<div id="aboutSection">
  <h1>sobre <b>a bloco</b></h1>
  <section class="upper">
    <div class="texts">
      <p>
        A Bloco surgiu a partir da vontade de externalizar o amor por Brasília,
        trazendo elementos inspirados no típico cotidiano brasiliense, com sua
        arquitetura inesperada e sua natureza particular, que tanto nos
        encantam.
      </p>
    </div>
    <div class="museu"></div>
  </section>
  <section class="lower">
    <div class="texts">
      <h2>De Brasília, nascida e criada.</h2>
      <p>
        Quando pensamos em Brasília, vêm à nossa cabeça diversos elementos
        marcantes. Contudo, dentre todos eles, um dos que mais bem retratam o
        típico cotidiano brasiliense são os blocos das nossas quadras, únicos da
        capital. E foi deles que surgimos.
      </p>
    </div>
    <div class="biblioteca"></div>
  </section>
</div>
