<div id="contactSection">
  <h1>Vista brasília com a Bloco</h1>
  <a class="media" href="https://www.instagram.com/bloco.bsb" target="_blank">
    <span class="instagram">instagram</span>
    <img src="/assets/icons/instagram.svg" alt="@bloco.bsb" />
  </a>
  <a class="media" href="https://wa.me/5561981889864?text=" target="_blank">
    <span class="whatsapp">whatsapp</span>
    <img src="/assets/icons/whatsapp.svg" alt="whatsapp" />
  </a>
  <span class="text">
    Os pedidos são feitos pelo whatsapp e entregues em até 5 dias úteis
  </span>
  <button>Política de trocas e devoluções</button>
</div>
