.product {
 display: flex;
 // align-items: center;
 padding: 5vw;

 .side-images {
  display: grid;
  grid-template-columns: 1fr;
  width: 15%;
  gap: 0.5rem;

  img {
   width: 72%;
   aspect-ratio: 3/4;
   object-fit: cover;
  }
 }

 .current-image {
  width: 35%;

  img {
   width: 100%;
   aspect-ratio: 3/4;
   object-fit: cover;
  }
 }

 .desc {
  width: 50%;
  padding: 4vw;

  h1 {
   font-family: "Julius";
  }
 }
}