// #highlightsSection {
//   position: relative;
//   display: flex;
//   align-items: center;
//   overflow: hidden;
//   justify-content: space-between;
//   padding: 3rem 4rem;
//   color: var(--primary);

//   .icon {
//     color: var(--primary);
//     cursor: pointer;
//     transition: 0.5s all ease;

//     &.right:hover {
//       transform: translateX(20%);
//     }

//     &.left:hover {
//       transform: translateX(-20%);
//     }
//   }
//   .highlight {
//     width: 75%;
//     position: absolute;
//     display: flex;
//     transform: translateX(200%);
//     margin: auto;
//     flex-direction: row-reverse;
//     align-items: flex-end;
//     transition: transform 1.5s ease;
//     padding: 1rem 0;

//     .img {
//       position: relative;
//       background-size: cover !important;
//       width: 35%;
//       aspect-ratio: 35/52;

//       &::before {
//         position: absolute;
//         content: "";
//         display: block;
//         background-color: var(--secondary-30);
//         inset: 0;
//         width: 100%;
//       }
//     }

//     .frame {
//       position: absolute;
//       content: "";
//       display: block;
//       width: 100%;
//       height: 100%;
//       border: 2px solid var(--primary);
//       right: -1rem;
//       bottom: -1rem;
//       z-index: -1;
//     }

//     .odd-frame {
//       right: 0;
//       left: -1rem;
//     }

//     .texts {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-end;
//       text-align: end;
//       width: 55%;
//       margin-right: 7%;

//       h1 {
//         font-family: "Julius";
//         font-size: clamp(2.5rem, 4vw, 6rem);
//         font-weight: lighter;
//         color: var(--primary);
//       }

//       span {
//         font-family: "Barlow-light";
//         font-size: clamp(1rem, 1.6vw, 3rem);
//         margin: 2rem 0;
//         width: 90%;
//         color: var(--secondary);
//       }

//       .button {
//         cursor: pointer;
//         font-family: "Barlow";
//         margin-bottom: 4rem;
//         color: var(--secondary);
//         background-color: transparent;
//         text-decoration: underline;
//         text-transform: uppercase;
//         font-size: 0.9rem;
//         font-size: clamp(0.6rem, 1vw, 1.6rem);
//       }
//     }
//   }

//   .highlight.active {
//     position: relative;
//     transform: translateX(0%);
//   }

//   .odd {
//     flex-direction: row;
//   }

//   .odd-texts {
//     align-items: flex-start !important;
//     text-align: start !important;
//     margin-right: 0;
//     margin-left: 7%;
//   }
// }

#highlightsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
  color: var(--primary);

  .highlight {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: auto;

    .img {
      position: relative;
      background-size: cover !important;
      width: 35%;
      aspect-ratio: 35/52;

      &.novas {
        background: url("/assets/images/highlights/novas.png");
      }

      &.classicas {
        background: url("/assets/images/highlights/classicas.png");
      }

      &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: var(--secondary-30);
        inset: 0;
        width: 100%;
      }
    }

    .frame {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid var(--primary);
      right: -1rem;
      bottom: -1rem;
      z-index: -1;
    }

    .texts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
      width: 55%;
      margin-right: 5%;
      padding-top: 5rem;

      h1 {
        font-family: "Julius";
        font-size: clamp(2.5rem, 4vw, 6rem);
        font-weight: lighter;
        color: var(--primary);
      }

      span {
        font-family: "Barlow-light";
        font-size: clamp(1rem, 1.6vw, 3rem);
        margin: 2rem 0;
        width: 90%;
        color: var(--secondary);
      }

      .button {
        cursor: pointer;
        font-family: "Barlow";
        margin-bottom: 4rem;
        color: var(--secondary);
        background-color: transparent;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-size: clamp(0.6rem, 1vw, 1.6rem);
      }
    }

    &.reverse {
      flex-direction: row;
      align-items: flex-end;
      transform: translateY(-20%);

      .texts {
        align-items: flex-start;
        text-align: start;
        margin-left: 5%;
        margin-right: 0%;
      }

      .frame {
        right: 0;
        left: -1rem;
      }
    }
  }
}
