<div id="highlightsSection">
  <div class="highlight">
    <div class="img novas">
      <div class="frame"></div>
    </div>
    <div class="texts">
      <h1>coleção nova</h1>
      <span>
        Uma mistura das nossas clássicas camisetas brasilienses com novos
        estilos inspirados nos recortes modernos e minimalistas da capital.
      </span>
      <span
        class="button"
        [routerLink]="['/catalogo']"
        routerLinkActive="router-link-active">
        conheça as novas peças
      </span>
    </div>
  </div>

  <div class="highlight reverse">
    <div class="img classicas">
      <div class="frame"></div>
    </div>
    <div class="texts">
      <h1>as clássicas</h1>
      <span>
        Nossa marca registrada de camisetas inspiradas na arquitetura, na
        paisagem e na cultura de Brasília.
      </span>
      <span
        class="button"
        [routerLink]="['/catalogo']"
        routerLinkActive="router-link-active">
        venha vestir brasília
      </span>
    </div>
  </div>
</div>
