.navbar {
  .navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
    font-family: "Alata";
    font-size: 3.5rem;
    color: var(--primary);
    background-color: rgba(255, 255, 255, 0.261);
    border-radius: 50%;
    padding-bottom: 0.5rem;
    height: 4rem;
    width: 4rem;
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.261);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    z-index: 3;

    .menu-icon-bar {
      height: 3px;
      width: 35px;
      background-color: var(--primary);
      display: block;
      margin: 3px 0px;
      transition: transform 0.5s, opacity 0.5s ease-in-out;
      transform: none;
    }

    .first-bar-active {
      transform: translateY(0.6rem) rotate(-45deg);
    }
    .second-bar-active {
      transform: rotate(45deg);
    }
    .third-bar-active {
      transform: rotate(45deg);
      opacity: 0;
    }
  }
}

.drawer {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-30);
  backdrop-filter: blur(20px);
  padding: 0 10%;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;

  .menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: clamp(2rem, 3vw, 3rem);
    margin: 0rem 1.5rem;
    color: var(--off-white);
    font-family: "Julius";

    &:hover {
      text-decoration: underline;
    }
  }
}

.drawer-active {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 1000px) {
    .drawer {
      flex-direction: column;
      align-items: flex-start;

      .menu-item {
        margin: 1rem 0;
      }
  }
}

@media (max-width: 700px) {
    .navbar {
      .navbar-logo {
        right: 0.5rem;
        bottom: 0.5rem;
      }

      .menu-icon {
        right: 0.5rem;
        top: 0.5rem;
      }
    }
}